@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    @apply bg-surface text-accent font-serif;
  }

  #root {
    @apply min-h-screen bg-surface;
  }

}

.about-page footer {
  margin-top: -50px !important;
  /* justera efter smak */
  position: relative;
  z-index: 10;
}